
.results {

    .results-wrapper {
        padding: 0 100px;

        @media (max-width: 950px) {
            padding: 0 50px;
        }
        @media (max-width: 840px) {
            padding: 0;
        }

        .result {
            @include transition(all, 280ms, ease);
            @include flex();
            justify-content: space-between;
            border-top: 1px solid #efefef;
            padding: 10px 40px;

            @media (max-width: 500px) {
                padding: 10px 20px;
            }

            & > div {
                font-size: 2rem;

                @media (max-width: 750px) {
                    font-size: 1.5rem;
                }
            }

            .icon {
                display: block;
                width: 20px;
                height: 20px;
                border-radius: 100%;
            }
        }
    }
}

//  Theme
.result[status=online] .icon {
    background-color: $green;
}
.result[status=checking] .icon {
    background-color: $amber;
}
.result[status=offline] .icon {
    background-color: $red;
}
